<%- include("partials/header") %>
     <!--SIGN UP FORM STARTS-->
     <div class="register-page">
        <!--SIGNUP BOX-->
        <div class="left-register">
            <p class="register">SIGN-UP</p>
            <!--ALL THE INPUTS FROM USER-->
            <div class="details">
              <input type="text" class="input" placeholder="Name">
                <input class="input" type="email" placeholder="Email">
                <div class="password">
                <input class="input" type="password" placeholder="Password">
                <svg class="eye" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                </div> 
                <div class="password">
                    <input class="input" type="password" placeholder="Re-enter Password">
                <svg class="eye" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                </div>
            </div>
            <!--INPUTS ENDS-->
            <!--SUBMIT SIGNUP BUTTON-->
            <button class="confirm-register">SIGN-UP</button>
            <p class="login-option">Already have an account?<span><a href="">Login</a></span></p>
        </div>
        <!--SIGNUP BOX ENDS-->
        <!--GYM IMAGE-->
        <img class="right-register" src="images/gym.png" alt="">
        
     </div>
     <!--SIGNUP FORM ENDS-->
<%- include("partials/footer") %>