   /* Login */
    
   .login-page{   display:flex;
    justify-content: space-around;
    height:80%;
    padding-left:5% ;
    padding-right: 5%;
    flex-wrap: wrap;
    

}
.left-login{display: flex;
flex-direction: column;
align-items: center;
width:50%;
height:75%;
text-align: center;
position: relative;
bottom: 5%;
background: linear-gradient(to right , rgba( 0, 128, 128, 0.55 ), rgba(189, 181, 181, 0.5));
box-shadow: 0 0.2rem 0.2rem 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0.5rem;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.right-login{   height: 27rem;
position: relative;
bottom: 15%;
right: 5%;
margin-bottom:20px ;}
.login{
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: xx-large;
    color: black;
    /* text-decoration: 2px underline; */
}

.details-login{display: flex;
  flex-direction: column;
      gap:4px;
      width:100%;
      justify-content: center;
      align-items: center;
}

  .user-detail{
      width:64%;
      height:32px;
      font-size: small;
      border: none;
      border-radius: 0.3rem;
      opacity: 85%;
      
  }
  .future-save{width:65%;
      display:flex;
      color: black;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      justify-content: space-between;
  align-items: center;}
  .checkbox-option{display:flex;
   gap:1px;
   align-items:center;}   
   .checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 8px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
  background-color: white;
  opacity: 90%;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: teal;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #eff0f5;
  display: block;
  transform: scale(0);
  opacity: 100%;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #ffffff;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #fbfbfd;
  border-color: #f7f8ff;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

 
  .keep-logged,.forgot{padding:0.1rem;
      margin: 0%;
      color:black ;
  font-size: small;}
 
  .login-password .user-detail{
      width:100%;
      
  }
  .login-password{display: flex;
      align-items: center;
      width:65%;
      position: relative;
  }
  .eye{position: absolute;
      right:4px;
          color: rgb(86, 84, 84);}
  
  .confirm-login{vertical-align: middle;
      border: none;
      width:64%;
      height:40px;
      background-color: rgb(32, 16, 16);
      border-radius:0.3rem ;
      margin-top: 20px;
      color:white;
      font-size: 16px;
      font-weight: 400;
      transition: 0.5s;
  }
  .register-option{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color:black;
      font-size: small;
  }
  .confirm-login:hover{
      cursor: pointer;
     background-color:black;
  }
  .register-option a{color:red;}

  .register-option a:hover{
      cursor: pointer;
      color:rgb(100, 161, 240);
  }
  .user-detail:hover{border:2px solid rgb(66, 59, 59);
      

  }
  .eye:hover{
      cursor: pointer;
      color:black;
  }



